/* semantic color variables for this project */
:root {
  --color-background: #332F3C;
  --color-text: #ffffff;
  --color-primary: #8257E5;
  --font-primary: 'Roboto Mono', monospace;
  --font-secondary: 'Ubuntu', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;

}

body,
input,
button,
textarea,
select {
  font-family: var(--font-primary);
}