@import './base.css';

.base-input {
  outline: none;
  background: transparent;
  height: 45px;
  padding: 0 20px;
  border: 2px solid var(--color-secondary);
  border-radius: 5px;
  width: 100%;
  color: var(--color-text);
}
