@import './base.css';

input.base-input {
  outline: none;
  background: var(--color-tertiary);
  height: 45px;
  padding: 0 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--color-text);
}

textarea.base-input {
  outline: none;
  background: var(--color-tertiary);
  padding: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: var(--color-text);
  resize: none;
}

.input-group {
  display: grid;
  gap: 20px;
}

.input-group.cl3 {
  grid-template-columns: repeat(3, 1fr);
}
.input-group.cl2 {
  grid-template-columns: repeat(2, 1fr);
}
